<div  class="container-fluid bg-danger">
  <div class="row">
      <div class="col-4 mt-2">
          <h1> <a style="color: white;" class="navbar-brand"><i style="color: white;" class="fa-solid fa-shop ms-3"></i> Nesto-Mart</a></h1>
          <hr style="color: white;">
          <p class="text-light" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum numquam veritatis maiores dolore amet reiciendis, molestias libero adipisci nulla nam, quod eum nihil. Nulla neque id iste consequatur iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate voluptatem deleniti odit officia ipsa! Aspernatur, delectus minima. Nostrum hic repudiandae iste dolor! Obcaecati vel dolores fuga iusto laboriosam totam.</p>
          <hr style="color: white;">
          <hr style="color: white;">

      </div>
      <div class="col-2 mt-2">
          <h2 class="text-center text-light">Links</h2>
          <hr style="color: white;">
         <div class="text-center text-light">
              <h5>Home Page</h5>
              <h5>Cart Page</h5>
              <h5>WishList</h5>
              <hr style="color: white;">
              <hr style="color: white;">
         </div>
         
       
        
          


      </div>
      <div class="col-2 mt-2">
          <h2 class="text-light text-center">Assistance</h2>
          <hr style="color: white;">
          <div class="text-center text-light">
              <h5>Angular</h5>
              <h5>Bootstrap</h5>
              <h5>FontAwesome</h5>
              <hr style="color: white;">
              <hr style="color: white;">
         </div>


      </div>
      <div class="col-4 mt-2">
          <h2  class="text-light text-center" >Find Us</h2>
          <hr style="color: white;">

          <div class="d-flex mb-5 mt-5">
              <input type="text" class="form-control w-50 me-3" placeholder="">
              <button  class="btn btn-outline-light  ">submit</button>
          </div>
          <div class="d-flex justify-content-evenly align-items-center text-center">
              <h4 class="ms-3" ><i style="color: greenyellow;" class="fa-brands fa-whatsapp"></i> </h4>
              <h4 class="ms-3" ><i style="color: blue;" class="fa-brands fa-facebook"></i> </h4>
              <h4 class="ms-3"><i style="color: rgb(216, 14, 190);" class="fa-brands fa-square-instagram"></i></h4>
              <h4 class="ms-3"><i style="color: rgb(75, 75, 247);" class="fa-brands fa-twitter"></i></h4>
        </div>
        <hr class="mt-4" style="color: white;">
        <hr style="color: white;">
      </div>

  </div>

</div>
